---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import '../styles/global.css';
---

<header>
	<div class="navbar bg-white text-zinc-900 shadow-md">
		<div class="navbar-start">
			<!-- Logo pour tous les écrans -->
			<a href="/" class="btn btn-ghost text-xl font-bold">
				{SITE_TITLE}
			</a>
		</div>
		
		<!-- Menu desktop -->
		<div class="navbar-center hidden md:flex">
			<ul class="menu menu-horizontal px-1">
				<li><HeaderLink href="/" class="hover:text-zinc-600 transition-colors duration-300">Home</HeaderLink></li>
				<li><HeaderLink href="/blog" class="hover:text-zinc-600 transition-colors duration-300">Blog</HeaderLink></li>
				<li><HeaderLink href="/services" class="hover:text-zinc-600 transition-colors duration-300">Services</HeaderLink></li>
				<li><HeaderLink href="/about" class="hover:text-zinc-600 transition-colors duration-300">About</HeaderLink></li>
				<li><HeaderLink href="/contact" class="hover:text-zinc-600 transition-colors duration-300">Contact</HeaderLink></li>
			</ul>
		</div>
		
		<div class="navbar-end md:hidden">
			<!-- Dropdown menu pour mobile -->
			<div class="dropdown dropdown-end">
				<div tabindex="0" role="button" class="btn btn-ghost" id="menu-button" aria-label="Menu">
					<svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
					</svg>
				</div>
				<ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-white text-zinc-900 border border-zinc-200 rounded-box w-52" id="mobile-menu">
					<li><a href="/">Home</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/services">Services</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>

<style>
	/* Styles personnalisés si nécessaire */
	.navbar {
		padding: 0.5rem 1rem;
	}
</style>
